.head__forms--hidden {
    display: none;
}

.head__tittle {


    @media (min-width: 320px) {
        padding-left: 18px;

        &::before{
            position: absolute;
            content: "";
            display: inline-block;
            background: url(../img/title-icon.svg);
            height: 40px;
            width: 4px;
            vertical-align: top;
            left: 0%;
            top: -8px;
        }
    }

    @media (min-width: 1366px) {

        &::before{
            left: -5%;
        }

    }



}

@media (min-width: 1366px) {


    .header {
        //background-color: #F8F8F8;
        //padding: 42px 33px 4px;]
        display: none;
    }
    
    .head--hidden {
        display: block;
    }
    
    .head {
        padding-top: 47px;
        display: flex;
        width: 94%;
        margin: 0 auto;
        align-items: center;
    }
    
    .head__tittle {
        flex: 1 0 auto;
    }
    
    .head__forms--hidden {
        display: flex;
        column-gap: 32px;
    }    
}

//.head__tittle {

//    &::before{
//        position: absolute;
//        content: "";
//        display: inline-block;
//        background: url(../img/title-icon.svg);
//        height: 40px;
//        width: 4px;
//        vertical-align: top;
//        left: -5%;
//        top: -8px;
//    }
//}
